GenAI_ACES_ACM_X_ARIES/Week-1/.env
CS_Research_ARIES_X_ACES_ACM/Week-2/data/FashionMNIST/raw/t10k-images-idx3-ubyte
CS_Research_ARIES_X_ACES_ACM/Week-2/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
CS_Research_ARIES_X_ACES_ACM/Week-2/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
CS_Research_ARIES_X_ACES_ACM/Week-2/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
CS_Research_ARIES_X_ACES_ACM/Week-2/data/FashionMNIST/raw/train-images-idx3-ubyte
CS_Research_ARIES_X_ACES_ACM/Week-2/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
CS_Research_ARIES_X_ACES_ACM/Week-2/data/FashionMNIST/raw/train-labels-idx1-ubyte
CS_Research_ARIES_X_ACES_ACM/Week-2/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
